body{
	background-color: black;
}

#title {
	text-align: center;
	font-size: 32pt;
	font-family: Ariel;
}

h1 {
	margin: 0px;
}

#ToBeCon {
	text-align: center;
	font-size: 50pt;
	font-family: Ariel;
}

#skull {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

#Retry {
	position: fixed;
	top: 90%;
	left: 35%;
	transform: translate(-50%, -50%);
	font-size: 35pt;
	font-family: Ariel;
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
}

#GiveUp {
	position: fixed;
	top: 90%;
	left: 68%;
	transform: translate(-50%, -50%);
	font-size: 35pt;
	font-family: Ariel;
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
}

#GameOver {
	text-align: center;
	font-size: 50pt;
	font-family: Ariel;
}

.container {
	text-align: center;
}

#PlayAgain {
	position: fixed;
	top: 55%;
	transform: translate(-50%, -50%);
	font-size: 75pt;
	font-family: Ariel;
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
}

#day {
	border-radius: 50%;
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	height: 100px;
	width: 100px;
}

#night {
	border-radius: 50%;
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
	margin: auto;
	position: absolute;
	top: 0;
	left: 88%;
	max-height: 100%;
	max-width: 100%;
	height: 100px;
	width: 100px;
}

#game {
	position: fixed;
	top: 32%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1199px;
	height: 408px;
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
	margin: auto;
}

#game img{
	max-height: 100%;
	max-width: 100%;
}

#game-text {
	position: fixed;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	text-justify: inter-word;
	top: 73%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1180px;
	height: 330px;
	font-size: 13.9pt;
	font-family: Courier;
	background-color: white;
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
	overflow: auto;
}

#input {
	position: fixed;
	top: 890px;
	left: 43.25%;
	transform: translate(-50%, -50%);
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
	width: 940px;
	height: 70px;
}

#pause {
	position: fixed;
	top: 890px;
	left: 71.2%;
	transform: translate(-50%, -50%);
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
	height: 69px;
	width: 124px;
}

#play {
	position: fixed;
	top: 890px;
	left: 78%;
	transform: translate(-50%, -50%);
	height: 69px;
	width: 124px;
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
}

/*
#play {
	position: fixed;
	top: 795px;
	left: 1364px;
	transform: translate(-50%, -50%);
	border-style: solid;
	border-color: #FF0000;
	border-width: thick;
	height: 70px;
	width: 124px;
}
*/
